# SauceDemo
UI_BASE_URL=https://www.saucedemo.com
SAUCE_STANDARD_USER=standard_user
SAUCE_PASSWORD=secret_sauce
SAUCE_LOCKED_USER=locked_out_user
SAUCE_PROBLEM_USER=problem_user

# ReqRes API
API_BASE_URL=https://reqres.in
API_KEY=<Your_API_Key_Here>
